apiVersion: 1
groups:
    - orgId: 1
      name: http monitor
      folder: http monitoring2
      interval: 1m
      rules:
        - uid: ff5ltu0m91nuod
          title: http failure
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: PBFA97CFB590B2093
              model:
                editorMode: builder
                expr: webservice_failed_lookups_total
                instant: true
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 5
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: ad24xkm
          panelId: 4
          noDataState: NoData
          execErrState: Error
          for: 1m
          keepFiringFor: 5m
          annotations:
            __dashboardUid__: ad24xkm
            __panelId__: "4"
            description: 404 error exceed threshold
          labels: {}
          isPaused: false
          notification_settings:
            receiver: grafana-default-email
